@media screen and (min-width:1024px){

    @font-face {
        font-family: 'led_dot-matrix';
        src: url('https://github.com/Utsav2505/Tic_Tac_Toe_Game/blob/aee08b6c28a07e6d6aa3e193fcc967e41d2f13ab/led_dot-matrix-webfont.woff') format('woff2'),
            url('/led_dot-matrix-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    @font-face {
        font-family: 'Upheaval';
        src: url('/upheavtt.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    html,body{
        margin: 0;
        padding: 0;
        background: #21242B;
    }
    .header{
        text-align: center;
        height: 8vw;
        align-items: center;
        align-content: center;
        color: #FFF;
    text-align: center;
    font-family: 'Upheaval';
    font-size: 7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .status{
        text-align: center;
        width: 20vw;
    height: 2.5vw;
    border-radius:0.6vw;
    background: #16191f;
    margin: 0 auto;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .statext{
        padding: 0;
        margin: 0;
        
    text-align: center;
    font-family: 'led_dot-matrix';
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    }
    #board {
        display: grid;
        grid-template-columns: repeat(3, 7vw);
        gap: 0.6vw;
        width: 50%;
        margin: 0 auto;
        justify-content: center;
    }
    .cell {
        font-family: 'led_dot-matrix';
        width: 7vw;
        height: 7vw;
        font-size: 6vw;
        text-align: center;
        
        border-radius: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 0.8vw;
    background: #282C35;
    box-shadow: 0px 0.3vw 0.3vw 0px rgba(0, 0, 0, 0.25);
    }
    .x{
        color: #E42330;
    text-align: center;
    font-family: 'led_dot-matrix';

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .o{
        color: #2ACA55;
    text-align: center;
    font-family: 'led_dot-matrix';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .middle{
        display:flex;
        flex-direction: row;
    }
    .player1,.player2{
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 25%;
    }
    .pl1,.pl2{
        font-size: 1.5vw;
    }
    .p1ins,.p2ins{
        background-color: #282C35;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    width: 15vw;
    border-radius: 0.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .points{
        border-radius: 0.6vw;
    background: #16191f;
    width:12vw;
    height: 2vw;
    margin-bottom: 1vw;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    }
    #p1,#p2{
        margin-top: 0.5vw;
        font-size: 1vw;
    }
    .below{
        justify-content: center;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 2vw;
    }
    #restart{
        justify-content: center;
        width: 8vw;
        height: 3vw;
        font-size: 1.2vw;
        border-radius: 0.6vw;
        background-color: #282C35;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border: none;
    color: #D69A51;
    text-align: center;
    font-family: 'Upheaval';
    }

    .result{
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:1023px) and (min-width:768px){

    @font-face {
        font-family: 'led_dot-matrix';
        src: url('/led_dot-matrix-webfont.woff2') format('woff2'),
            url('/led_dot-matrix-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    @font-face {
        font-family: 'Upheaval';
        src: url('/upheavtt.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    html,body{
        margin: 0;
        padding: 0;
        background: #21242B;
    }
    .header{
        text-align: center;
        height: 8vw;
        align-items: center;
        align-content: center;
        color: #FFF;
    text-align: center;
    font-family: 'Upheaval';
    font-size: 7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .status{
        text-align: center;
        width: 20vw;
    height: 2.5vw;
    border-radius:0.6vw;
    background: #16191f;
    margin: 0 auto;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .statext{
        padding: 0;
        margin: 0;
        
    text-align: center;
    font-family: 'led_dot-matrix';
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    }
    #board {
        display: grid;
        grid-template-columns: repeat(3, 7vw);
        gap: 0.6vw;
        width: 50%;
        margin: 0 auto;
        justify-content: center;
    }
    .cell {
        font-family: 'led_dot-matrix';
        width: 7vw;
        height: 7vw;
        font-size: 6vw;
        text-align: center;
        
        border-radius: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 0.8vw;
    background: #282C35;
    box-shadow: 0px 0.3vw 0.3vw 0px rgba(0, 0, 0, 0.25);
    }
    .x{
        color: #E42330;
    text-align: center;
    font-family: 'led_dot-matrix';

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .o{
        color: #2ACA55;
    text-align: center;
    font-family: 'led_dot-matrix';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .middle{
        display:flex;
        flex-direction: row;
    }
    .player1,.player2{
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 25%;
    }
    .pl1,.pl2{
        font-size: 1.5vw;
    }
    .p1ins,.p2ins{
        background-color: #282C35;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    width: 15vw;
    border-radius: 0.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .points{
        border-radius: 0.6vw;
    background: #16191f;
    width:12vw;
    height: 2vw;
    margin-bottom: 1vw;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    }
    #p1,#p2{
        margin-top: 0.5vw;
        font-size: 1vw;
    }
    .below{
        justify-content: center;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 2vw;
    }
    #restart{
        justify-content: center;
        width: 8vw;
        height: 3vw;
        font-size: 1.2vw;
        border-radius: 0.6vw;
        background-color: #282C35;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border: none;
    color: #D69A51;
    text-align: center;
    font-family: 'Upheaval';
    }

    .result{
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:767px){
        @font-face {
        font-family: 'led_dot-matrix';
        src: url('/led_dot-matrix-webfont.woff2') format('woff2'),
            url('/led_dot-matrix-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    @font-face {
        font-family: 'Upheaval';
        src: url('/upheavtt.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    html,body{
        margin: 0;
        padding: 0;
        background: #21242B;
    }
    .header{
        text-align: center;
        height: 8vw;
        align-items: center;
        align-content: center;
        color: #FFF;
    text-align: center;
    font-family: 'Upheaval';
    font-size: 10vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .status{
        text-align: center;
        width: 45vw;
    height: 8vw;
    border-radius:2vw;
    background: #16191f;
    margin: 0 auto;
    margin-bottom: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .statext{
        padding: 0;
        margin: 0;
        
    text-align: center;
    font-family: 'led_dot-matrix';
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    }
    #board {
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        gap: 2vw;
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        order: 1;
    }
    .cell {
        font-family: 'led_dot-matrix';
        width: 25vw;
        height: 25vw;
        font-size: 18vw;
        text-align: center;
        
        border-radius: vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 3vw;
    background: #282C35;
    box-shadow: 0px 0.3vw 0.3vw 0px rgba(0, 0, 0, 0.25);
    }
    .x{
        color: #E42330;
    text-align: center;
    font-family: 'led_dot-matrix';

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .o{
        color: #2ACA55;
    text-align: center;
    font-family: 'led_dot-matrix';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .middle{
        display:flex;
        flex-direction: column;
    }
    .player1,.player2{
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 25%;
        margin: 0 auto;
    }
    .player1{
        order: 2;
        margin-top: 5vw;
    }
    .player2{
        order: 3;
        margin-top: 2vw;
    }
    .p1ins,.p2ins{
        background-color: #282C35;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    width: 80vw;
    height: 10vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    }
    .pl1,.pl2{
        font-size: 5vw;
    }
    .points{
        border-radius: 2vw;
    background: #16191f;
    width:40vw;
    height: 6vw;
    margin-bottom: 1vw;
    margin-left: 3vw;
    margin-top: 1vw;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top :7px;
    }
    #p1,#p2{
        margin-top: 0.5vw;
        font-size: 3vw;
    }
    .below{
        justify-content: center;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 6vw;
    }
    #restart{
        justify-content: center;
        width: 38vw;
        height: 10vw;
        font-size: 6vw;
        border-radius: 2vw;
        background-color: #282C35;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border: none;
    color: #D69A51;
    text-align: center;
    font-family: 'Upheaval';
    }

    .result{
        width: 100%;
        text-align: center;
    }
}
